/****************FONT*****************/
@font-face {
    font-family: "Inter";
    src: url(../fonts/InterRegular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/InterMedium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/InterSemiBold.ttf);
    font-weight: 600;
}
