@import "_reset";
@import "_main";
@import "_fonts";

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}
@media only screen and (max-width: 1200px) {
    html {
        font-size: 52%;
    }
}
:root {
    --primary-color: #d83a56;
    --text-color: #1a1a2e;
    --text-color-gray: #333333;
    --text-menu: #545760;
    --main-bg-color: #fafafc;
}

@media (min-width: 992px) {
    .gutter-20 {
        margin-left: -20px;
        margin-right: -20px;
    }
    .gutter-20 > [class*="col-"] {
        padding-left: 20px;
        padding-right: 20px;
    }
}

body {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    max-width: 1440px;
    margin: auto;
    background-color: var(--main-bg-color);
}
body.hidden {
    overflow: hidden;
}
.container {
    padding: 0 15px;
    @media (min-width: 1200px) {
        max-width: 1200px;
        width: 100%;
    }
}
/*--------------HEADER----------------*/
.header__wrapper {
    padding: 12px 0;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.header__logo {
    max-width: 68px;
    max-height: 51px;
    img {
        width: 100%;
    }
}
.header__nav {
    font-weight: 500;

    > ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 24px;
        > li {
            > a {
                height: 4.9rem;
                line-height: 4.9rem;
            }
        }
        li {
            position: relative;
            a {
                display: block;
            }
            .mega-menu {
                @extend %smooth-trans;
                transform: translateY(10px);
                opacity: 0;
                visibility: hidden;
                position: absolute;
                width: 600px;
                max-height: 400px;
                overflow-y: auto;
                top: 50px;
                left: 0;
                box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
                border-radius: 4px;
                background: #ffffff;
                padding: 1.5rem 2.5rem;
                scrollbar-width: thin;
                scrollbar-color: var(--primary-color) transparent;

                /*--------scroll bar firefox--------*/
                &:-webkit-scrollbar {
                    width: 3px;
                }
                &:-webkit-scrollbar-track {
                    background: transparent;
                }
                &:-webkit-scrollbar-thumb {
                    background-color: var(--primary-color);
                    border-radius: 2px;
                    border: 1px solid transparent;
                }
                /*--------scroll bar chrome--------*/
                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }
                &::-webkit-scrollbar-thumb {
                    background: var(--primary-color);
                }
                ul {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px 0;
                    justify-content: start;
                    li {
                        width: 25%;
                        font-size: 15px;
                        font-weight: 500;
                        a {
                            strong {
                                color: var(--primary-color);
                            }
                        }
                        &:first-child {
                            a {
                                color: #2f80ed;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            &:hover {
                > a {
                    color: var(--primary-color);
                }
                > .mega-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
            &.menu-has-mega {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                &::after {
                    margin-left: 2px;
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' width='12' height='12' data-icon='caret-down' class='svg-inline--fa fa-caret-down fa-w-10' role='img' viewBox='0 0 320 512'%3E%3Cpath fill='%23545760' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");
                    width: 8px;
                }
                &:hover::after {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' width='12' height='12' data-icon='caret-down' class='svg-inline--fa fa-caret-down fa-w-10' role='img' viewBox='0 0 320 512'%3E%3Cpath fill='%23d83a56' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");
                }
            }
        }
    }
}
.header__right {
    display: flex;
    align-items: center;
    &-search {
        form {
            border: 1px solid #d3d4d8;
            max-width: 26.9rem;
            border-radius: 36px;
            background: #fff;
            height: 48px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            input {
                width: 100%;
                border: none;
                margin-left: 1rem;
                &::placeholder {
                    font-size: 14px;
                    color: #838383;
                }
            }
        }
    }
    &-user {
        margin-left: 14px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .avatar-user {
                max-width: 20px;
                max-height: 20px;
                border-radius: 50%;
            }
            .text-user {
                font-weight: 500;
                margin-top: 5px;
                font-size: 11px;
                @media (max-width: 767px) {
                    font-size: 10px;
                }
            }
        }
    }
}
.search-form-mb {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    background: #fff;
    @extend %smooth-trans;
    transform: translateY(-100%);
    &.show {
        transform: translateY(0);
    }
    .btn-close {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 12px;
        height: 12px;
        padding: 0;
    }
    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 3rem;
        input {
            border: none;
        }
        button {
            flex-shrink: 0;
        }
    }
}

/*-------------MENU MOBILE---------------*/
.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: #232735;
    color: #fff;
    z-index: 9999;
    transform: translateX(0);
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    padding: 30px 20px;
    max-height: 100%;
    overflow-y: auto;
    @media (max-width: 480px) {
        padding: 20px 15px;
    }
    @media (max-width: 380px) {
        max-width: 320px;
    }
    .menu-mobile-inner {
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
        ul li {
            font-size: 16px;
            a{
                margin-bottom: 10px;
                display: block;
            }
        }
        li.menu-has-mega {
            .mega-menu {
                padding-top: 10px;

                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                margin-bottom: 10px;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        width: 33.3333%;
                        @media(max-width:767px){
                        width: 50%;
                        }
                        a{
                            strong{
                                color: var(--primary-color);
                            }
                        }
                    }
                }
            }
        }
    }
    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        &:after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' enable-background='new 0 0 32 32' id='Слой_1' version='1.1' viewBox='0 0 32 32' xml:space='preserve'%3E%3Cpath d='M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0 l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286 c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0 c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z' fill='%23fff' id='Close'/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3Cg/%3E%3C/svg%3E");
        }
    }
}
